.custom-btn {
  background-color:rgba(120, 171, 83, 0.83);
  color: white;
  border: none;
}

.custom-btn:hover {
  background-color: rgba(179, 229, 143, 0.83);
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 100%;
  margin-left: 0.5rem;
  min-width: 160px;
}
.dropdown-menu.show {
  display: block;
}
.btn-group {
  position: relative;
}
