

  .custom-input {
    height: 36px;
    font-size: 18px;
    font-weight: bold;
  }
:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.angular-logo {
  max-width: 9.2rem;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.content h1 {
  margin-top: 1.75rem;
}

.content p {
  margin-top: 1.5rem;
}

.divider {
  width: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 0.5rem;
}

.pill-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--bright-blue);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

.pill-group .pill:nth-child(6n + 1) {
  --pill-accent: var(--bright-blue);
}

.pill-group .pill:nth-child(6n + 2) {
  --pill-accent: var(--french-violet);
}

.pill-group .pill:nth-child(6n + 3),
.pill-group .pill:nth-child(6n + 4),
.pill-group .pill:nth-child(6n + 5) {
  --pill-accent: var(--hot-red);
}

.pill-group svg {
  margin-inline-start: 0.25rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.73rem;
  margin-top: 1.5rem;
}

.social-links path {
  transition: fill 0.3s ease;
  fill: var(--gray-400);
}

.social-links a:hover svg path {
  fill: var(--gray-900);
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
  }
}

  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    color: #333;
  }

  .main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('https://img.freepik.com/premium-vector/hand-painted-watercolor-background_747896-4973.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
  }

  .header {
    background-color: #b8de91;
    padding: 0px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }

  h1 {
    margin: 20px;
    font-size: 24px;
    color: #435d18;
  }

  .rates {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .rate {
    background-color: rgba(120, 171, 83, 0.83);
    padding: 10px 20px;
    border-radius: 8px;
  }

  .container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid #e0ca94;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(238, 239, 233, 0.80);
  }
  .container-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid #e0ca94;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(238, 239, 233, 0.80);
  }
  .currency-converter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    animation: fadeIn 1s ease-in-out;
  }

  .converter-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  label {
    font-weight: bold;
    color: #6b8d33;
  }

  input[type="number"], select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
    color: #6b8d33;
  }

  select {
    width: 100%;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    padding-right: 30px;
    color: #6b8d33;
  }

  input[type="number"]:focus, select:focus {
    border-color: #8cad5e;
    outline: none;
  }

  .error-message {
    color: red;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
