<main class="main">
  <header class="header">
    <div class="container-header">
      <h1>Курси валют на {{ todayDate }}</h1>
      <div class="rates">
        <div class="rate">
          <span>USD to UAH: {{ usdToUah | number:'1.5-5' }}</span>
          <span></span>
        </div>
        <div class="rate">
          <span>EUR to UAH: {{ eurToUah | number:'1.5-5'}}</span>
          <span></span>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="currency-converter">
      <h1>Конвертер валют</h1>
      <div class="converter-input">
        <label for="input1">Кількість:</label>
        <input id="input1" type="number" [(ngModel)]="amount1" (ngModelChange)="onAmount1Change()" min="1" step="1"/>
        <select [(ngModel)]="currency1" (ngModelChange)="onCurrencyChange()">
          <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
        </select>
      </div>

      <div class="converter-input">
        <label for="input2">Кількість:</label>
        <input id="input2" type="number" [(ngModel)]="amount2" (ngModelChange)="onAmount2Change()" min="1" step="1"/>
        <select [(ngModel)]="currency2" (ngModelChange)="onCurrencyChange()">
          <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
        </select>
      </div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
